.app {
    width: 100vw;
    height: 100vh;
}

.navbar {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:midnightblue;
}

.array-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .array-bars-container {
      width: 85%;
      height: 80%;
  }
  .array-bar {
    width: 0.2%;
    display: inline-block;
    margin-left: 0.1%;
    margin-right: 0.1%;
  }
  .timeBox {
      font-size: 2em;
  }